body {
    background-color: rgb(119, 151, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.error-border { /*When invalid input*/
    border: 5px solid red;
}


.container { /*contains the to do list*/
    border: 3px solid #333;
    width: 500px;
    height: 300px;
    background-color: rgb(225, 240, 229);
    border-radius: 10px;
    position: relative;

}

ul li { /*clickable appearance*/
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 20px;
    transition: 0.5s;
}

ul li:hover { /*chance color when hovered over*/
    background-color: rgb(132, 194, 153);
}

ul li.checked { /*mark the task done*/
    background: rgb(119, 151, 119);
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before { /*add the visual checkmark to the clicked task*/
    content: "\2713";
    position: absolute;
    top: 0;
    left: 0;
    color: #070000;
    font-size: 20px;
    padding: 15px;
    top: -5px;
}

ul { /*keeps the list in set position and ads a scrollwheel*/
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    height: 200px;
}

.bottom { /*bottom of the container*/
    background-color: #9e9c9c;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.inner-container {/*keeps the items separated*/
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header {
    background-color: #9e9c9c;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.taskBtn {
    background-color: rgb(119, 151, 119);
    border-radius: 7px;
    padding: 10px 10px;
    font-size: 20px;
}

input {
    background-color: rgb(119, 151, 119);
    border-color: #333;
    border-radius: 7px;
    width: 80%;
    padding: 10px;
    font-size: 20px;
}

.clearBtn {
    background-color: rgb(119, 151, 119);
    border-radius: 7px;

}

.taskstyle {
    font-size: 20px;
    text-decoration: underline;
}